// Layout principal
@use 'variaveis';
@use 'mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variaveis.$espacamento-base 2rem;
  background-color: variaveis.$cor-primaria;
  color: variaveis.$cor-branco;
  flex-wrap: wrap;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      padding: 1rem 0;
      align-items: center;
    }
  }

  &__link {
    color: variaveis.$cor-branco;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &--active {
      text-decoration: underline;
    }
  }
}

.banner {
  height: 60vh;
  color: variaveis.$cor-branco;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  &--dark {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1600&q=80')
                center/cover no-repeat;
  }

  &__title {
    @include mixins.responsivo-texto(2.5rem, 2rem);
    
  }

  &__text {
    @include mixins.responsivo-texto(1.2rem, 1rem);
  }
}
