// Variáveis Globais
$cor-primaria: #1e1e2f;
$cor-secundaria: #f9f9f9;
$cor-texto: #333;
$cor-branco: #fff;
$cor-cinza-claro: #ccc;
$cor-cinza-medio: #aaa;
$cor-banner: #000;
$cor-destaque: #f0f0f0;
$cor-borda: #ddd;
$bg-color: #fff;

$fonte-padrao: 'Segoe UI', sans-serif;

$tamanho-fonte-base: 16px;
$espacamento-base: 1rem;
